# Site settings
baseurl:  # the subpath of your site, e.g. /blog/
url: "https://rinaloving.github.io" # the base hostname & protocol for your site
twitter_username: 
github_username: 

# Build settings
markdown: kramdown
highlighter: rouge
theme: minima
paginate: 2
paginate_path: "blog/page:num"
# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
