---
layout: cmasterex
title: Blog
full_posts: 3
---

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <!--Sidebar content-->
		  {% for post in paginator.posts %}
		  <div class='post'>
			<a href="#" class="btn btn-info btn-lg"><span class='glyphicon glyphicon-calendar'>{{post.date | date: "%Y-%m-%d"}}</span></a>
			<h1><a href='{{post.url}}'></a></h1>
			<!-- <div class='body'>{{post.content}}</div> -->
			<div class='card'>
				<h5 class="card-header">{{post.title}}</h5>
				<div class="card-body">
					<p class="card-text">{{post.description}}</p>
					<a href="{{post.url}}#disqus_thread" class="btn btn-primary">查看详情</a>
				</div>
				
			</div>
		  </div>
		{% endfor %}
        </div>
		<div class="col-md-3">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="http://b127.photo.store.qq.com/psb?/440982b8-1f1e-473c-b41d-b630005d5f65/k47uYaiYTmzFY29wd.*P67qQrqqT3MhfQ7PypQE3b4g!/b/dDb0wUsuBAAA&bo=gALEA1IDAAUBKB4!&rf=viewer_4" alt="..." class="img-rounded">
		  <div class="card-body">
			<h5 class="card-title">Rinaloving</h5>
			<p class="card-text">永远不要浪费你的一分一秒，去想任何你不喜欢的人。去想任何你不喜欢的人</p>
		  </div>
	</div>
      </div>
    </div>

<div class="container">
<div class="post">
	<nav aria-label="...">
		<ul class="pagination">
	{% if paginator.total_pages > 1 %}
	  {% if paginator.previous_page %}
		<li class="page-item "><a  class="page-link" href="{{ paginator.previous_page_path | relative_url }}">
		  &laquo; 上一页
		</a></li>
	  {% else %}
		<li class="page-item disabled"><span class="page-link">&laquo; 上一页</span></li>
	  {% endif %}

	  {% for page in (1..paginator.total_pages) %}
		{% if page == paginator.page %}
		  <li class="page-item"><a class="page-link">{{ page }}</a></li>
		{% elsif page == 1 %}
		  <li class="page-item"><a  class="page-link" href="/">
			{{ page }}
		  </a></li>
		{% else %}
		  <li class="page-item"><a class="page-link active"  class="sr-only" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">
			{{ page }}
		  </a></li>
		{% endif %}
	  {% endfor %}

	  {% if paginator.next_page %}
		<li class="page-item "><a class="page-link" href="{{ paginator.next_page_path | relative_url }}">
		  下一页 &raquo;
		</a></li>
	  {% else %}
		<li class="page-item disabled"><span class="page-link">下一页 &raquo;</span></li>
	  {% endif %}
	  </ul>
	</nav>
</div>
{% endif %}
    </div>
  </div>
</div>
