---
layout: cmasterex
title: Blog
full_posts: 3
---

    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <!--Sidebar content-->
		  {% for post in paginator.posts %}
		  <div class='post'>
			<a href="#" class="btn btn-info btn-lg"><span class='glyphicon glyphicon-calendar'>{{post.date | date: "%Y-%m-%d"}}</span></a>
			<h1><a href='{{post.url}}'></a></h1>
			<!-- <div class='body'>{{post.content}}</div> -->
			<div class='card'>
				<h5 class="card-header">{{post.title}}</h5>
				<div class="card-body">
					<p class="card-text">{{post.description}}</p>
					<a href="{{post.url}}#disqus_thread" class="btn btn-primary">查看详情</a>
				</div>
				
			</div>
		  </div>
		{% endfor %}
        </div>
		<div class="col-md-2">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="http://m.qpic.cn/psb?/440982b8-1f1e-473c-b41d-b630005d5f65/OofrJcWgm3An6PX4cH6sOaO8JMMtvwLwWiQbjpMJDcQ!/b/dFMBAAAAAAAA&bo=LAGQAQAAAAARF5w!&rf=viewer_4" alt="..." class="img-rounded">
		  <div class="card-body">
			<h5 class="card-title">Rinaloving</h5>
			<p class="card-text">和自己相处，就是让我们静静坐下来，卸下负担，抚慰心灵，清楚自己身在何处、心往何方。</p>
		  </div>
	</div>
      </div>
    </div>

<div class="container-fluid">

      <!--Body content-->
	  <!-- This loops through the paginated posts -->

<div class="post">
	<nav aria-label="...">
		<ul class="pagination">
	{% if paginator.total_pages > 1 %}
	  {% if paginator.previous_page %}
		<li class="page-item "><a  class="page-link" href="{{ paginator.previous_page_path | relative_url }}">
		  &laquo; 上一页
		</a></li>
	  {% else %}
		<li class="page-item disabled"><span class="page-link">&laquo; 上一页</span></li>
	  {% endif %}

	  {% for page in (1..paginator.total_pages) %}
		{% if page == paginator.page %}
		  <li class="page-item"><a class="page-link">{{ page }}</a></li>
		{% elsif page == 1 %}
		  <li class="page-item"><a  class="page-link" href="/">
			{{ page }}
		  </a></li>
		{% else %}
		  <li class="page-item"><a class="page-link active"  class="sr-only" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">
			{{ page }}
		  </a></li>
		{% endif %}
	  {% endfor %}

	  {% if paginator.next_page %}
		<li class="page-item "><a class="page-link" href="{{ paginator.next_page_path | relative_url }}">
		  下一页 &raquo;
		</a></li>
	  {% else %}
		<li class="page-item disabled"><span class="page-link">下一页 &raquo;</span></li>
	  {% endif %}
	  </ul>
	</nav>
</div>
{% endif %}
    </div>
  </div>
</div>
