---
layout: cmasterex
title: Blog
full_posts: 3
---

 <!-- <div class="container"> -->

          <!-- <!--Sidebar content--> -->

		  <!-- {% for post in paginator.posts %} -->
		  <!-- <div class="post" ;">  -->
			<!-- <p class="card-text"  style="color:#EEA2AD; font-size:30px; ">{{post.date | date: "%Y-%m-%d"}}</p> -->
			<!-- <h1><a href='{{post.url}}'></a></h1> -->
			<!-- <!--<div class='body'>{{post.content}}</div> --> -->
			<!-- <div class='card'> -->
				<!-- <h5 class="card-header"  style="color:#87CEFF; text-align: center;">{{post.title}}</h5> -->
				<!-- <div class="card-body" "> -->
					<!-- <p class="card-text"  style="color:#FFAEB9; text-align: center;">{{post.description}}</p> -->
					<!-- <a href="{{post.url}}#disqus_thread" class="btn btn-primary" style="background: rgba(0,0,0, 0.3)">查看详情</a> -->
				<!-- </div> -->
				
			<!-- </div> -->
		  <!-- </div> -->
		  
		<!-- {% endfor %} -->

<!-- <!-- -->
		<!-- {% for post in paginator.posts %} -->
		  <!-- <div class='post'> -->
			<!-- <a href="#" class="btn btn-info btn-lg"><span class='glyphicon glyphicon-calendar'>{{post.date | date: "%Y-%m-%d"}}</span></a> -->
			<!-- <h1><a href='{{post.url}}'>{{post.title}}</a></h1> -->
			<!-- <div class='body'>{{post.content}}</div> -->
			<!-- <a href='{{post.url}}#disqus_thread'>查看详情</a> -->
		  <!-- </div> -->
		<!-- {% endfor %} -->
		<!-- --> -->

	<!-- <div class="post"> -->
		<!-- <nav aria-label="..."> -->
			<!-- <ul class="pagination"> -->
		<!-- {% if paginator.total_pages > 1 %} -->
		  <!-- {% if paginator.previous_page %} -->
			<!-- <li class="page-item "><a  class="page-link" href="{{ paginator.previous_page_path | relative_url }}"> -->
			  <!-- &laquo; 上一页 -->
			<!-- </a></li> -->
		  <!-- {% else %} -->
			<!-- <li class="page-item disabled"><span class="page-link">&laquo; 上一页</span></li> -->
		  <!-- {% endif %} -->

		  <!-- {% for page in (1..paginator.total_pages) %} -->
			<!-- {% if page == paginator.page %} -->
			  <!-- <li class="page-item"><a class="page-link">{{ page }}</a></li> -->
			<!-- {% elsif page == 1 %} -->
			  <!-- <li class="page-item"><a  class="page-link" href="/"> -->
				<!-- {{ page }} -->
			  <!-- </a></li> -->
			<!-- {% else %} -->
			  <!-- <li class="page-item"><a class="page-link active"  class="sr-only" href="{{ site.paginate_path | relative_url | replace: ':num', page }}"> -->
				<!-- {{ page }} -->
			  <!-- </a></li> -->
			<!-- {% endif %} -->
		  <!-- {% endfor %} -->

		  <!-- {% if paginator.next_page %} -->
			<!-- <li class="page-item "><a class="page-link" href="{{ paginator.next_page_path | relative_url }}"> -->
			  <!-- 下一页 &raquo; -->
			<!-- </a></li> -->
		  <!-- {% else %} -->
			<!-- <li class="page-item disabled"><span class="page-link">下一页 &raquo;</span></li> -->
		  <!-- {% endif %} -->
		  <!-- </ul> -->
		<!-- </nav> -->
	<!-- </div> -->
<!-- {% endif %} -->
<!-- </div> -->

