<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>雪 落 - {{ page.title }}</title>
	<style type="text/css">
		img{
			height:300px;
			width:400px;
		}

	</style>
	
  </head>
<nav class="navbar navbar-expand-lg fixed-top navbar-light " style="background-color: #836FFF;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
			<button type="button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
            <a class="navbar-brand page-scroll" href="#page-top">Rina</a>
        </div>

	

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto ">
                <li class="nav-item">
                    <a class="nav-link" href="/">主页</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/category.html">分类</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/about.html">关于</a>
                </li>
				 <li class="nav-item">
                    <a class="nav-link" href="/open-source.html">编码</a>
                </li>
				<li class="nav-item"><a class="nav-link" href='https://github.com/Rinaloving' target='_blank' rel='me'>GitHub</a></li>
            </ul>
        </div>
    </div>
</nav>
  <body style="background-color:#F0FFFF; padding-top:40px;" id="page-top">
      <div class="container-fluid" id='content' style="padding-top:40px;">
        {{ content }}
      </div>


  </body>
</html>
