---
layout: cmaster
---
<div class='post'>
     <a href="#" class="btn btn-info btn-lg"><span class='glyphicon glyphicon-calendar'>{{page.date | date: "%Y-%m-%d"}}</span></a>
  <h1><a href='{{page.url}}'>{{page.title}}</a></h1>
  <div class='body'>{{ content }}</div>
</div>

<div class="related">
   <div class="alert alert-primary"><h3>近期博文</h3></div>
  <table class="table table-hover">
    {% for post in site.related_posts limit:3 %}
      <tr>
        <th><a href='{{ post.url }}'>{{ post.title }}</a></th>
        <th style="text-align: right;">{{ post.date | date: "%Y-%m-%d" }}</th>
        <th><a href='{{post.url}}#disqus_thread'>{{ post.tags }}</a></td>
      </tr>
    {% endfor %}
  </table>
</div>
